<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

        <!-- lots of different appenders available - this one is obviously off to
                the console -->

        <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
                <param name="Target" value="System.out" />

                <!-- layout is configurable - can display thread id, class name, method
                        name, line number, the message etc -->

                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="%d{ISO8601}|%p|thread:%t|userId:%X{userId},statUnitId:%X{statUnitId},exerciseSid:%X{exerciseSid}|%m|%l%n" />
                </layout>
        </appender>

        <!-- lots of different appenders available - this one is obviously off to
                file, rolling daily, can roll by file size too, lots of options -->

        <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
                <!-- defines the name of the log file produced -->
                <param name="file" value="target/test.log" />
                <param name="datePattern" value="'.'yyyy-MM" />
                <param name="append" value="true" />

                <!-- defines the format of each log message -->
                <layout class="org.apache.log4j.PatternLayout">
                        <param name="ConversionPattern" value="%d{ISO8601}|%p|thread:%t|userId:%X{userId},statUnitId:%X{statUnitId},exerciseSid:%X{exerciseSid}|%m|%l%n" />
                </layout>
        </appender>

        <!-- category is basically going to match on the start of the logger name
                e.g. above, our logger is called co.uk.mycompany.mypackage.HelloLoggingWorld -->
        <!-- could do global logging DEBUG to CONSOLE using this... -->
        <category name="com.github.onsdigital" additivity="false">
                <priority value="${LOG_LEVEL}" />
                <appender-ref ref="CONSOLE" />
                <appender-ref ref="FILE" />
        </category>

        <!-- or category name = co.uk.mycompany.mypackage to set the level for that
                package etc -->
        <!-- can set loggers for any other code using log4j in your runtime too
                e.g. org.apache = WARN etc -->

        <!-- anything not picked up by a category will be picked up by the root
                logger e.g. if restlet was logging something with log4j we would see it at
                debug level using this... -->
        <root>
                <priority value="${ROOT_LOG_LEVEL}" />
                <appender-ref ref="CONSOLE" />
        </root>

</log4j:configuration>

